html,
body,
#app,
.fullpage,
.slide {
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  width: 100%;
  height: 100%;
  margin: 0;
}

.fullpage {
  display: block;
  overflow: hidden;
  position: fixed;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease 0s;
  position: relative;
  font-family: 'Gloria Hallelujah', cursive;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  opacity: 0.3;
  width: 100%;
  z-index: 10;
  bottom: 0;
}

.footer:hover {
  transition: opacity 200ms;
  opacity: 1;
}

.footer>*:focus {
  outline: 0;
}

.footer-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.footer-buttons:first-child {
  margin-left: 8px;
}

.footer-buttons>* {
  margin-right: 8px;
}

.footer-scroll-down,
.footer-scroll-up {
  flex: 1 0 0%;
}