html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}


.mp-outer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cadetblue;
  width: 100%;
  height: 100%;
}
